@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Palatino', serif;
}

.banner {
  /* background-image: linear-gradient(to right, white 0%, rgba(0, 0, 0, 0)), url('./assets//demoBGimg.jpg'); */
  /* background-color:white */
  background-image: url('./assets/demoBGimg.jpg');
  height: 600px;
  object-fit: cover;
}
.slide-in {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}